@model CourseIndexViewModel

@{
    ViewData["Title"] = "Courses";
}

<section class="courses">
    <div class="container">
        <div class="header">
            <h1>Courses</h1>
            <form id="form-filters">
                <select>
                    <option>All Categories</option>
                </select>
                <div class="input-search-group">
                    <input id="SearchQuery" name="searchQuery" placeholder="Search courses" />
                    <i class="fa-regular fa-search"></i>
                </div>
            </form>


        </div>
        


        <div class="course-items">
            @if(Model.Courses != null)
            {
                @foreach(var course in Model.Courses)
                {
                    <a asp-action="Details" asp-controller="Courses" asp-route-id="@course.Id"> 
                        @if (course.IsBestseller)
                        {
                            <div class="bestseller">Best Seller</div>
                        }
                        <button class="btn btn-circle bookmark"><i class="fa-regular fa-bookmark"></i></button>

                        <img src="~/images/courses/@course.Image" alr="@course.Title" />

                        <div class="content">
                            <h5 class="title">@course.Title</h5>
                            <p class="author">@course.Author</p>
                            <div class="pricing">
                               <div class="price">@course.Price</div>
                            </div>
                            <div class="footer">
                                <div class="hours">
                                    <i class="fa-regular fa-clock"></i> @course.Hours hours
                                </div>
                                <div class="likes">
                                    <i class="fa-regular fa-thumbs-up"></i> @course.LikesInProcent (@course.LikesInNumbers)
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</section>
